html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

body {
	font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.resume-container {
	width: 780px;
	margin: 0 auto;
}


.basic-information {
	padding: 80px 0 40px 0;
}

.basic-information p {
	margin: 0 4rem;
	margin-bottom: 1.4em;
}

h1 { 
	text-transform: uppercase; 

	font-size: 48px;
    line-height: .8em;
    letter-spacing: -.08em;
    font-weight: 900;
    text-transform: uppercase;

    text-align: center;
    margin: 40px auto;
	width: 60%;
  	border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 20px 0;
}

h2 {
	font-size: 26px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
    line-height: 1.4em;

	padding: 40px 0;
	margin: 40px 0;
}

.tagline {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 1.4em;
	text-transform: capitalize;
}

.block {
	margin: 4rem 4rem;
	font-size: 16px;
}

.skillset .category {
	margin: 1rem 0;
}

.skillset .category .name{
	font-weight: 600;
	font-style: italic;
}

.project {
	margin: 2.6rem 0;
	line-height: 1.2rem;
}

.project h4 {
	color: #999;
	font-weight: 400;
	font-size: 18px;
}

.project .role {
	margin-bottom: 1.2rem;
	font-weight: 600;
}

p.description {
	line-height: 1.6rem;
	margin-bottom: 1rem;
}
